.login-container {
    display: flex;
    flex-direction: column;
    justify-content: safe center;
    align-items: center;
    gap: 52px;
    height: 100svh;
}

.login-card {
    background-color: var(--white-90-);
    padding: 40px;
    border-radius: 8px;
    max-width: 476px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.login-fields {
    display: flex;
    flex-direction: column;
    gap: 24px;
}



@media (width <=440px) {
    .login-container {
        background-color: var(--white-90-);
        justify-content: flex-start;
        padding: 24px;
    }

    .login-card {
        padding: 0;
        width: 100%;
    }

    .auth-logo {
        align-self: flex-start;
    }
}
