.home-wrapper {
    display: flex;
    flex-direction: column;
    height: 100svh;
}

.home-main {
    display: flex;
    gap: 24px;
    flex: 1;
    padding: 24px 24px 0 24px;
}

.home-main > div {
    background-color: var(--white-90-);
    border-radius: 12px;
}

.links-customization-parent {
    display: flex;
    flex-direction: column;
    flex: 0.6;
}
.links-customization {
    padding: 40px 40px 0 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.links-customization-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 40px;
    cursor: default;
    user-select: none;
}

.links-customization-main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.links-customization-links {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--white-60-);
    padding: 62.5px 20px;
    border-radius: 12px;
    align-items: center;
}

.links-customization-empty-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 488px;
    text-align: center;
}

.links-customization-footer {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 24px 40px;
    border-top: 1px solid var(--black-30-);
    position: sticky;
    bottom: 0;
    left: 0;
    background-color: var(--white-90-);
    border-radius: 0 0 12px 12px;
    margin-top: auto;
}

.links-customization-footer-btn {
    width: max-content;
    align-self: flex-end;
}

.mockup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    flex: 0.4;
    padding: 60px 0 0 0;
}

.mockup {
    position: relative;
    width: 308px;
    height: 632px;
    position: fixed;
}

.mockup > img {
    z-index: -10;
}

.mockup-img {
    position: absolute;
}

.mockup-divs-container {
    padding: 43.5px 0;
    display: flex;
    flex-direction: column;
    gap: 48px;
    z-index: 1000;
    height: 100%;
}

.mockup-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;
}

.mockup-head-name h3 {
    font-size: 18px;
}

.mockup-head-email p {
    font-size: 14px;
    color: var(--black-60-);
}

.mockup-head .mockup-head-img {
    width: 104px;
    height: 104px;
    border-radius: 50%;
    background-color: #eeeeee;
}
.mockup-head .mockup-head-img img {
    width: 100%;
    height: 100%;
}

.mockup-head-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    min-height: 56px;
}

.mockup-head-name-empty {
    width: 160px;
    height: 16px;
    background-color: #eeeeee;
    border-radius: 100px;
}

.mockup-head-email-empty {
    width: 72px;
    height: 8px;
    background-color: #eeeeee;
    border-radius: 100px;
}

.mockup-links-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-height: 300px;
    overflow-y: auto;
}

.mockup-link-redirect {
    text-decoration: none;
}

.mockup-link {
    min-width: 237px;
    min-height: 47.2px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    gap: 8px;
}

.scroll-indicator {
    position: absolute;
    left: 50%;
    bottom: 28px;
    transform: translateX(-50%);
}

@media (width <=850px) {
    .links-customization-parent {
        flex: 1;
    }
}

@media (width <=600px) {
    .links-customization {
        padding: 24px 24px 0 24px;
    }
    .links-customization-empty-image img {
        width: 175px;
    }
    .links-customization-footer {
        padding: 24px;
    }
}

@media (width <=440px) {
    .home-main {
        padding: 16px 0 0 0;
    }
    h2 {
        font-size: 24px !important;
    }
    .links-customization-empty-image img {
        width: 125px;
    }
    .links-customization-links {
        padding: 46.5px 20px;
    }

    .links-customization-footer {
        padding: 16px 24px;
    }

    .links-customization-footer-btn {
        width: 100%;
    }
}
