.link-customization-not-empty-container {
    background-color: var(--white-60-);
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    outline: none;
}
.link-header:has(h3, p, span) {
    color: var(--black-60-);
}
.link-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link-handle {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: grab;
    user-select: none;
}
.links-dropdown {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.link-remove p {
    cursor: pointer;
    color: var(--black-60-);
    font-weight: 700;
}
.link-remove p:hover {
    color: #ee3939;
}

.link-handle:hover {
    color: var(--purple-90-);
}
/* .link-handle:active {
    cursor: grabbing;
} */
