.preview-parent {
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    background-color: var(--white-90-);
    padding: 24px;
}

.preview-parent *:not(.preview-blob) {
    z-index: 10;
}

.preview-header {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    border-radius: 12px;
    background-color: var(--white-90-);
}

.preview-header button {
    width: max-content;
}

.preview-card {
    padding: 48px 56px;
    background-color: var(--white-90-);
    border-radius: 24px;
    margin: auto;
    box-shadow: 0 0 32px 0 #0000001a;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    margin-top: 40px;
}

.error-card {
    max-width: 800px;
    width: 80%;
    padding: 16px;
    border-radius: 24px;
    margin: auto;
    display: flex;
    align-items: center;
}

.error-card img {
    width: 100%;
}

.preview-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.preview-card-header-img {
    width: 112px;
    aspect-ratio: 1;
}

.preview-card-header-img img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}
.preview-card-header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview-card-header-text p {
    color: var(--black-60-);
}

.preview-card-link {
    cursor: pointer;
    min-width: 281.2px;
    width: 100%;
    max-width: 320px;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
}

.preview-card-link p {
    flex: 1;
}

.preview-blob {
    top: 0;
    left: 0;
    width: 100%;
    height: 40svh;
    position: absolute;
    background-color: var(--purple-90-);
    border-radius: 0 0 32px 32px;
}

@media (width<=450px) {
    .preview-blob {
        display: none;
    }
    .preview-card {
        box-shadow: none;
        padding: 0;
        background-color: transparent;
    }
    .preview-header {
        padding: 0;
    }
}

@media (width<=380px) {
    .preview-card {
        margin: 0;
        margin-top: 60px;
    }
    .preview-header {
        flex-direction: column;
        gap: 16px;
    }

    .preview-header button {
        width: 100%;
    }

    .preview-card-links-parent {
        width: 100%;
    }

    .preview-card-link {
        min-width: 180px;
    }
}
