@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;700&display=swap");

:root {
    --red-90-: #ff3939;
    --purple-90-: #633cff;
    --purple-60-: #beadff;
    --purple-30-: #efebff;
    --black-90-: #333333;
    --black-60-: #737373;
    --black-30-: #d9d9d9;
    --white-90-: #ffffff;
    --white-60-: #fafafa;
}

* {
    font-family: "Instrument Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white-60-);
}

h2 {
    font-size: 32px;
    line-height: 150%;
    font-weight: 700;
    color: var(--black-90-);
}

h3 {
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
}

p,
.create-account {
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    color: var(--black-90-);
}

span {
    font-size: 12px;
    line-height: 150%;
    font-weight: 400;
    color: var(--black-90-);
}

img {
    display: block;
}

input {
    font-size: 16px;
    line-height: 150%;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 400;
    color: var(--black-90-);
    caret-color: var(--purple-90-);
    width: 100%;
}

input::placeholder {
    font-size: 16px;
    line-height: 150%;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 400;
    color: var(--black-90-);
    opacity: 0.5;
}

.create-account {
    color: var(--purple-90-);
    cursor: pointer;
}

.create-account:active {
    color: var(--purple-60-);
}

.mockup-links-parent::-webkit-scrollbar {
    display: none;
}

/* -----Scrollbar Styles For Firefox----- */
* {
    scrollbar-color: var(--purple-90-) var(--white-60-);
    scrollbar-width: thin;
}

::-moz-scrollbar {
    width: 8px;
}

::-moz-scrollbar-thumb {
    background-color: var(--purple-90-);
}

::-moz-scrollbar-track {
    background-color: var(--white-60-);
}

/* -----Scrollbar Styles For Other Browsers----- */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: var(--white-60-);
}

::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
    background-color: var(--white-60-);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--purple-90-);
}

.privacy-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #806ada;
    z-index: 9999;
}

.css-3yi6zv:hover,
.css-iut109-MuiButtonBase-root-MuiButton-root:hover {
    background-color: var(--purple-30-) !important;
}

.css-3yi6zv,
.css-iut109-MuiButtonBase-root-MuiButton-root {
    background-color: var(--purple-30-) !important;
}
